body
{
		background-image:url(../img/imagenfondo.jpg);
}
textarea, #cifra
	{		

		width: 70%;
		font-family: Arial;
		font-size: 20px;
	}
	#resultado
	{		
		padding: 20px;
		border: 1px solid black;
		background-color:#06F ;
		font-family:Tahoma, Geneva, sans-serif;
		color: white;
		font-weight: bold;

	}
	#descripcion{
		width: 100%;
		font-family: Arial;
		color:black;
		font-size:15px;
		font-weight: bold;
		border:2px double #006
		}
